
NET "clk50in" TNM_NET = clk50in;
TIMESPEC TS_clk50in = PERIOD "clk50in" 20 ns;
INST "i_switch<0>" TNM = switch;
INST "i_switch<1>" TNM = switch;
INST "i_switch<2>" TNM = switch;
INST "i_switch<3>" TNM = switch;
INST "o_leds<0>" TNM = leds;
INST "o_leds<1>" TNM = leds;
INST "o_leds<2>" TNM = leds;
INST "o_leds<3>" TNM = leds;
NET "clk50in" LOC = E12;
NET "i_switch<0>" LOC = V8;
NET "i_switch<1>" LOC = U10;
NET "i_switch<2>" LOC = U8;
NET "i_switch<3>" LOC = T9;
NET "o_leds<0>" LOC = R20;
NET "o_leds<1>" LOC = T19;
NET "o_leds<2>" LOC = U20;
NET "o_leds<3>" LOC = U19;
NET "i_switch<0>" IOSTANDARD = "LVTTL";
NET "i_switch<1>" IOSTANDARD = "LVTTL";
NET "i_switch<2>" IOSTANDARD = "LVTTL";
NET "i_switch<3>" IOSTANDARD = "LVTTL";
NET "o_leds<0>" IOSTANDARD = "LVTTL";
NET "o_leds<1>" IOSTANDARD = "LVTTL";
NET "o_leds<2>" IOSTANDARD = "LVTTL";
NET "o_leds<3>" IOSTANDARD = "LVTTL";
NET "o_leds<0>" DRIVE = 4;
NET "o_leds<1>" DRIVE = 4;
NET "o_leds<2>" DRIVE = 4;
NET "o_leds<3>" DRIVE = 4;
NET "o_leds<0>" SLEW = QUIETIO;
NET "o_leds<1>" SLEW = QUIETIO;
NET "o_leds<2>" SLEW = QUIETIO;
NET "o_leds<3>" SLEW = QUIETIO;
NET "rst" LOC = T15;
NET "rst" IOSTANDARD = "LVTTL";
