NET "clk50" LOC = E12;
NET "LCD_DB<0>" LOC = Y13;
NET "LCD_DB<1>" LOC = AB18;
NET "LCD_DB<2>" LOC = AB17;
NET "LCD_DB<3>" LOC = AB12;
NET "LCD_DB<4>" LOC = AA12;
NET "LCD_DB<5>" LOC = Y16;
NET "LCD_DB<6>" LOC = AB16;
NET "LCD_DB<7>" LOC = Y15;
NET "LCD_E" LOC = AB4;
NET "LCD_RS" LOC = Y14;
NET "LCD_RW" LOC = W13;
NET "rst" LOC = T15;
NET "LCD_DB<0>" IOSTANDARD = "LVCMOS33";
NET "LCD_DB<0>" DRIVE = 4;
NET "LCD_DB<0>" SLEW = QUIETIO;
NET "LCD_DB<1>" IOSTANDARD = "LVCMOS33";
NET "LCD_DB<1>" SLEW = QUIETIO;
NET "LCD_DB<1>" DRIVE = 4;
NET "LCD_DB<2>" DRIVE = 4;
NET "LCD_DB<2>" IOSTANDARD = "LVCMOS33";
NET "LCD_DB<2>" SLEW = QUIETIO;
NET "LCD_DB<3>" IOSTANDARD = "LVCMOS33";
NET "LCD_DB<3>" DRIVE = 4;
NET "LCD_DB<3>" SLEW = QUIETIO;
NET "LCD_DB<4>" IOSTANDARD = "LVCMOS33";
NET "LCD_DB<4>" DRIVE = 4;
NET "LCD_DB<5>" SLEW = QUIETIO;
NET "LCD_DB<4>" SLEW = QUIETIO;
NET "LCD_DB<5>" IOSTANDARD = "LVCMOS33";
NET "LCD_DB<5>" DRIVE = 4;
NET "LCD_DB<6>" IOSTANDARD = "LVCMOS33";
NET "LCD_DB<6>" DRIVE = 4;
NET "LCD_DB<6>" SLEW = QUIETIO;
NET "LCD_DB<7>" IOSTANDARD = "LVCMOS33";
NET "LCD_DB<7>" DRIVE = 4;
NET "LCD_DB<7>" SLEW = QUIETIO;
NET "LCD_E" IOSTANDARD = "LVCMOS33";
NET "LCD_E" DRIVE = 4;
NET "LCD_E" SLEW = QUIETIO;
NET "LCD_RS" IOSTANDARD = "LVCMOS33";
NET "LCD_RS" DRIVE = 4;
NET "LCD_RS" SLEW = QUIETIO;
NET "LCD_RW" IOSTANDARD = "LVCMOS33";
NET "LCD_RW" DRIVE = 4;
NET "LCD_RW" SLEW = QUIETIO;
NET "rst" PULLDOWN;
NET "rst" IOSTANDARD = "LVTTL";
NET "clk50" IOSTANDARD = "LVCMOS33";
INST "LCD_DB<0>" TNM = DB;
INST "LCD_DB<1>" TNM = DB;
INST "LCD_DB<2>" TNM = DB;
INST "LCD_DB<3>" TNM = DB;
INST "LCD_DB<4>" TNM = DB;
INST "LCD_DB<5>" TNM = DB;
INST "LCD_DB<6>" TNM = DB;
INST "LCD_DB<7>" TNM = DB;
INST "LCD_DB<0>" TNM = DB;
INST "LCD_DB<1>" TNM = DB;
INST "LCD_DB<2>" TNM = DB;
INST "LCD_DB<3>" TNM = DB;
INST "LCD_DB<4>" TNM = DB;
INST "LCD_DB<5>" TNM = DB;
INST "LCD_DB<6>" TNM = DB;
INST "LCD_DB<7>" TNM = DB;
INST "LCD_RS" TNM = DB;
INST "LCD_E" TNM = Enable;
NET "LCD_E" OFFSET = OUT 40 ns AFTER "clk50" HIGH;
