//! **************************************************************************
// Written by: Map K.39 on Tue Dec 09 19:59:17 2008
//! **************************************************************************

SCHEMATIC START;
COMP "clk50" LOCATE = SITE "E12" LEVEL 1;
COMP "up_down" LOCATE = SITE "U10" LEVEL 1;
COMP "inter<0>" LOCATE = SITE "U8" LEVEL 1;
COMP "inter<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "seg_out<0>" LOCATE = SITE "R20" LEVEL 1;
COMP "seg_out<1>" LOCATE = SITE "T19" LEVEL 1;
COMP "seg_out<2>" LOCATE = SITE "U20" LEVEL 1;
COMP "seg_out<3>" LOCATE = SITE "U19" LEVEL 1;
COMP "seg_out<4>" LOCATE = SITE "V19" LEVEL 1;
COMP "seg_out<5>" LOCATE = SITE "V20" LEVEL 1;
COMP "seg_out<6>" LOCATE = SITE "Y22" LEVEL 1;
COMP "seg_out<7>" LOCATE = SITE "W21" LEVEL 1;
COMP "hold" LOCATE = SITE "V8" LEVEL 1;
SCHEMATIC END;

