NET "clk50" LOC = E12;
NET "up_down" LOC = U10;
NET "inter<0>" LOC = U8;
NET "inter<1>" LOC = T9;
NET "hold" LOC = V8;
NET "seg_out<0>" LOC = R20;
NET "seg_out<1>" LOC = T19;
NET "seg_out<2>" LOC = U20;
NET "seg_out<3>" LOC = U19;
NET "seg_out<4>" LOC = V19;
NET "seg_out<5>" LOC = V20;
NET "seg_out<6>" LOC = Y22;
NET "seg_out<7>" LOC = W21;
