NET "clk50" LOC = E12;
NET "LCD_DB<0>" LOC = Y13 |IOSTANDARD = LVCOMOS33| DRIVE = 4 | SLEW = QUIETIO;
NET "LCD_DB<1>" LOC = AB18 |IOSTANDARD = LVCOMOS33| DRIVE = 4 | SLEW = QUIETIO;
NET "LCD_DB<2>" LOC = AB17 |IOSTANDARD = LVCOMOS33| DRIVE = 4 | SLEW = QUIETIO;
NET "LCD_DB<3>" LOC = AB12 |IOSTANDARD = LVCOMOS33| DRIVE = 4 | SLEW = QUIETIO;
NET "LCD_DB<4>" LOC = AA12 |IOSTANDARD = LVCOMOS33| DRIVE = 4 | SLEW = QUIETIO;
NET "LCD_DB<5>" LOC = Y16 |IOSTANDARD = LVCOMOS33| DRIVE = 4 | SLEW = QUIETIO;
NET "LCD_DB<6>" LOC = AB16 |IOSTANDARD = LVCOMOS33| DRIVE = 4 | SLEW = QUIETIO;
NET "LCD_DB<7>" LOC = Y15 |IOSTANDARD = LVCOMOS33| DRIVE = 4 | SLEW = QUIETIO;
NET "LCD_E" LOC = AB4 |IOSTANDARD = LVCOMOS33| DRIVE = 4 | SLEW = QUIETIO;
NET "LCD_RS" LOC = Y14 |IOSTANDARD = LVCOMOS33| DRIVE = 4 | SLEW = QUIETIO;
NET "LCD_RW" LOC = W13 |IOSTANDARD = LVCOMOS33| DRIVE = 4 | SLEW = QUIETIO;
NET "modo_in" LOC = V8 |IOSTANDARD = LVTTL | PULLUP;
NET "pb_in<3>" LOC = T14 |IOSTANDARD = LVTTL | PULLDOWN;
NET "pb_in<2>" LOC = T15 |IOSTANDARD = LVTTL | PULLDOWN;
NET "pb_in<1>" LOC = T16 |IOSTANDARD = LVTTL | PULLDOWN;
NET "pb_in<0>" LOC = U15 |IOSTANDARD = LVTTL | PULLDOWN;
NET "rot<2>" LOC = R13 |IOSTANDARD = LVTTL | PULLDOWN;
NET "rot<0>" LOC = T13 |IOSTANDARD = LVTTL | PULLUP;
NET "rot<1>" LOC = R14 |IOSTANDARD = LVTTL | PULLUP;
NET "clk50" TNM_NET = clk50;
TIMESPEC TS_clk50 = PERIOD "clk50" 20 ns;
