NET "lcd_db<0>" LOC = Y13;
NET "lcd_db<1>" LOC = AB18;
NET "lcd_db<2>" LOC = AB17;
NET "lcd_db<3>" LOC = AB12;
NET "lcd_db<4>" LOC = AA12;
NET "lcd_db<5>" LOC = Y16;
NET "lcd_db<6>" LOC = AB16;
NET "lcd_db<7>" LOC = Y15;
NET "lcd_db<0>" IOSTANDARD = "LVCMOS33";
NET "lcd_db<1>" IOSTANDARD = "LVCMOS33";
NET "lcd_db<2>" IOSTANDARD = "LVCMOS33";
NET "lcd_db<3>" IOSTANDARD = "LVCMOS33";
NET "lcd_db<4>" IOSTANDARD = "LVCMOS33";
NET "lcd_db<5>" IOSTANDARD = "LVCMOS33";
NET "lcd_db<6>" IOSTANDARD = "LVCMOS33";
NET "lcd_db<7>" IOSTANDARD = "LVCMOS33";
NET "lcd_db<0>" DRIVE = 4;
NET "lcd_db<1>" DRIVE = 4;
NET "lcd_db<2>" DRIVE = 4;
NET "lcd_db<3>" DRIVE = 4;
NET "lcd_db<4>" DRIVE = 4;
NET "lcd_db<5>" DRIVE = 4;
NET "lcd_db<6>" DRIVE = 4;
NET "lcd_db<7>" DRIVE = 4;
NET "lcd_db<0>" SLEW = QUIETIO;
NET "lcd_db<1>" SLEW = QUIETIO;
NET "lcd_db<2>" SLEW = QUIETIO;
NET "lcd_db<3>" SLEW = QUIETIO;
NET "lcd_db<4>" SLEW = QUIETIO;
NET "lcd_db<5>" SLEW = QUIETIO;
NET "lcd_db<6>" SLEW = QUIETIO;
NET "lcd_db<7>" SLEW = QUIETIO;
NET "lcd_e" LOC = AB4;
NET "lcd_rs" LOC = Y14;
NET "lcd_rw" LOC = W13;
NET "lcd_e" IOSTANDARD = "LVCMOS33";
NET "lcd_rs" IOSTANDARD = "LVCMOS33";
NET "lcd_rw" IOSTANDARD = "LVCMOS33";
NET "lcd_e" SLEW = QUIETIO;
NET "lcd_rs" SLEW = QUIETIO;
NET "lcd_rw" SLEW = QUIETIO;
NET "lcd_e" DRIVE = 4;
NET "lcd_rs" DRIVE = 4;
NET "lcd_rw" DRIVE = 4;
NET "clk" LOC = E12;
NET "clk" IOSTANDARD = "LVCMOS33";
NET "rst" LOC = T15;
NET "rst" IOSTANDARD = "LVTTL";
NET "rst" PULLDOWN;
NET "leds<0>" LOC = R20;
NET "leds<1>" LOC = T19;
NET "leds<0>" IOSTANDARD = "LVTTL";
NET "leds<1>" IOSTANDARD = "LVTTL";
NET "leds<0>" SLEW = QUIETIO;
NET "leds<1>" SLEW = QUIETIO;
NET "leds<0>" DRIVE = 4;
NET "leds<1>" DRIVE = 4;
