NET "LCD_DB<0>" IOSTANDARD = "LVCMOS33";
NET "LCD_DB<1>" IOSTANDARD = "LVCMOS33";
NET "LCD_DB<2>" IOSTANDARD = "LVCMOS33";
NET "LCD_DB<3>" IOSTANDARD = "LVCMOS33";
NET "LCD_DB<0>" DRIVE = 4;
NET "LCD_DB<1>" DRIVE = 4;
NET "LCD_DB<2>" DRIVE = 4;
NET "LCD_DB<3>" DRIVE = 4;
NET "LCD_DB<0>" SLEW = QUIETIO;
NET "LCD_DB<1>" SLEW = QUIETIO;
NET "LCD_DB<2>" SLEW = QUIETIO;
NET "LCD_DB<3>" SLEW = QUIETIO;
NET "LCD_E" DRIVE = 4;
NET "LCD_RS" DRIVE = 4;
NET "LCD_RW" DRIVE = 4;
NET "LCD_E" IOSTANDARD = "LVCMOS33";
NET "LCD_RS" IOSTANDARD = "LVCMOS33";
NET "LCD_RW" IOSTANDARD = "LVCMOS33";
NET "LCD_E" SLEW = QUIETIO;
NET "LCD_RS" SLEW = QUIETIO;
NET "LCD_RW" SLEW = QUIETIO;
NET "clk" LOC = E12;
NET "LCD_DB<0>" LOC = Y13;
NET "LCD_DB<1>" LOC = AB18;
NET "LCD_DB<2>" LOC = AB17;
NET "LCD_DB<3>" LOC = AB12;
NET "LCD_E" LOC = AB4;
NET "LCD_RS" LOC = Y14;
NET "LCD_RW" LOC = W13;
NET "SF_D<0>" IOSTANDARD = "LVCMOS33";
NET "SF_D<1>" IOSTANDARD = "LVCMOS33";
NET "SF_D<2>" IOSTANDARD = "LVCMOS33";
NET "SF_D<3>" IOSTANDARD = "LVCMOS33";
NET "SF_D<0>" DRIVE = 4;
NET "SF_D<1>" DRIVE = 4;
NET "SF_D<2>" DRIVE = 4;
NET "SF_D<3>" DRIVE = 4;
NET "SF_D<0>" SLEW = QUIETIO;
NET "SF_D<1>" SLEW = QUIETIO;
NET "SF_D<2>" SLEW = QUIETIO;
NET "SF_D<3>" SLEW = QUIETIO;
NET "SF_D<0>" LOC = AA12;
NET "SF_D<1>" LOC = Y16;
NET "SF_D<2>" LOC = AB16;
NET "SF_D<3>" LOC = Y15;
NET "LED<0>" LOC = R20;
NET "LED<1>" LOC = T19;
NET "LED<2>" LOC = U20;
NET "LED<3>" LOC = U19;
NET "LED<4>" LOC = V19;
NET "LED<5>" LOC = V20;
NET "LED<6>" LOC = Y22;
NET "LED<7>" LOC = W21;
NET "reset" LOC = T15;
NET "reset" IOSTANDARD = "LVTTL";
NET "reset" PULLDOWN;
NET "LED<0>" IOSTANDARD = "LVTTL";
NET "LED<1>" IOSTANDARD = "LVTTL";
NET "LED<2>" IOSTANDARD = "LVTTL";
NET "LED<3>" IOSTANDARD = "LVTTL";
NET "LED<4>" IOSTANDARD = "LVTTL";
NET "LED<5>" IOSTANDARD = "LVTTL";
NET "LED<6>" IOSTANDARD = "LVTTL";
NET "LED<7>" IOSTANDARD = "LVTTL";
NET "LED<0>" DRIVE = 4;
NET "LED<1>" DRIVE = 4;
NET "LED<2>" DRIVE = 4;
NET "LED<3>" DRIVE = 4;
NET "LED<4>" DRIVE = 4;
NET "LED<5>" DRIVE = 4;
NET "LED<6>" DRIVE = 4;
NET "LED<7>" DRIVE = 4;
NET "LED<0>" SLEW = QUIETIO;
NET "LED<1>" SLEW = QUIETIO;
NET "LED<2>" SLEW = QUIETIO;
NET "LED<3>" SLEW = QUIETIO;
NET "LED<4>" SLEW = QUIETIO;
NET "LED<5>" SLEW = QUIETIO;
NET "LED<6>" SLEW = QUIETIO;
NET "LED<7>" SLEW = QUIETIO;
