//! **************************************************************************
// Written by: Map K.39 on Mon Nov 17 22:43:09 2008
//! **************************************************************************

SCHEMATIC START;
COMP "clk50" LOCATE = SITE "E12" LEVEL 1;
COMP "direction" LOCATE = SITE "V8" LEVEL 1;
COMP "counter_out<0>" LOCATE = SITE "R20" LEVEL 1;
COMP "counter_out<1>" LOCATE = SITE "T19" LEVEL 1;
COMP "counter_out<2>" LOCATE = SITE "U20" LEVEL 1;
COMP "counter_out<3>" LOCATE = SITE "U19" LEVEL 1;
SCHEMATIC END;

