NET "clk" LOC = E12;
NET "led<0>" LOC = R20;
NET "led<1>" LOC = T19;
NET "led<2>" LOC = U20;
NET "led<3>" LOC = U19;
NET "led<4>" LOC = V19;
NET "led<5>" LOC = V20;
NET "led<6>" LOC = Y22;
NET "led<7>" LOC = W21;
NET "led<0>" IOSTANDARD = "LVTTL";
NET "led<1>" IOSTANDARD = "LVTTL";
NET "led<2>" IOSTANDARD = "LVTTL";
NET "led<3>" IOSTANDARD = "LVTTL";
NET "led<4>" IOSTANDARD = "LVTTL";
NET "led<5>" IOSTANDARD = "LVTTL";
NET "led<6>" IOSTANDARD = "LVTTL";
NET "led<7>" IOSTANDARD = "LVTTL";
NET "led<0>" SLEW = QUIETIO;
NET "led<1>" SLEW = QUIETIO;
NET "led<2>" SLEW = QUIETIO;
NET "led<3>" SLEW = QUIETIO;
NET "led<4>" SLEW = QUIETIO;
NET "led<5>" SLEW = QUIETIO;
NET "led<6>" SLEW = QUIETIO;
NET "led<7>" SLEW = QUIETIO;
NET "led<0>" DRIVE = 4;
NET "led<1>" DRIVE = 4;
NET "led<2>" DRIVE = 4;
NET "led<3>" DRIVE = 4;
NET "led<4>" DRIVE = 4;
NET "led<5>" DRIVE = 4;
NET "led<6>" DRIVE = 4;
NET "led<7>" DRIVE = 4;
NET "modo" LOC = V8;
NET "modo" IOSTANDARD = "LVTTL" ;
NET "modo" PULLUP;
NET "pb<1>" LOC = T16;
NET "pb<2>" LOC = T15;
NET "pb<3>" LOC = T14;
NET "pb<0>" LOC = U15;
NET "pb<0>" IOSTANDARD = "LVTTL";
NET "pb<0>" PULLDOWN;
NET "pb<0>" PULLDOWN;
NET "pb<1>" IOSTANDARD = "LVTTL";
NET "pb<1>" PULLDOWN;
NET "pb<1>" PULLDOWN;
NET "pb<2>" IOSTANDARD = "LVTTL";
NET "pb<2>" PULLDOWN;
NET "pb<2>" PULLDOWN;
NET "pb<3>" IOSTANDARD = "LVTTL";
NET "pb<3>" PULLDOWN;
NET "pb<3>" PULLDOWN;
NET "rotatory<0>" IOSTANDARD = "LVTTL";
NET "rotatory<0>" PULLUP;
NET "rotatory<1>" IOSTANDARD = "LVTTL";
NET "rotatory<1>" PULLUP;
NET "rotatory<2>" IOSTANDARD = "LVTTL" ;
NET "rotatory<2>" PULLDOWN;
NET "rotatory<0>" LOC = T13;
NET "rotatory<1>" LOC = R14;
NET "rotatory<2>" LOC = R13;
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 20 ns;
