NET "clk" LOC = E12;
NET "clk" IOSTANDARD = "LVCMOS33";
NET "btn" LOC = T15;
NET "btn" IOSTANDARD = "LVTTL";
NET "btn" PULLDOWN;
NET "led<0>" LOC = R20;
NET "led<1>" LOC = T19;
NET "led<2>" LOC = U20;
NET "led<3>" LOC = U19;
NET "led<4>" LOC = V19;
NET "led<5>" LOC = V20;
NET "led<6>" LOC = Y22;
NET "led<7>" LOC = W21;
NET "led<0>" IOSTANDARD = "LVTTL";
NET "led<1>" IOSTANDARD = "LVTTL";
NET "led<2>" IOSTANDARD = "LVTTL";
NET "led<3>" IOSTANDARD = "LVTTL";
NET "led<4>" IOSTANDARD = "LVTTL";
NET "led<5>" IOSTANDARD = "LVTTL";
NET "led<6>" IOSTANDARD = "LVTTL";
NET "led<7>" IOSTANDARD = "LVTTL";
NET "led<0>" DRIVE = 4;
NET "led<1>" DRIVE = 4;
NET "led<2>" DRIVE = 4;
NET "led<3>" DRIVE = 4;
NET "led<4>" DRIVE = 4;
NET "led<5>" DRIVE = 4;
NET "led<6>" DRIVE = 4;
NET "led<7>" DRIVE = 4;
NET "led<0>" SLEW = QUIETIO;
NET "led<1>" SLEW = QUIETIO;
NET "led<2>" SLEW = QUIETIO;
NET "led<3>" SLEW = QUIETIO;
NET "led<4>" SLEW = QUIETIO;
NET "led<5>" SLEW = QUIETIO;
NET "led<6>" SLEW = QUIETIO;
NET "led<7>" SLEW = QUIETIO;
NET "rx" LOC = E16;
NET "rx" IOSTANDARD = "LVTTL";
