NET "clk50" LOC = E12;
NET "lcd_data_out<0>" LOC = Y13;
NET "lcd_data_out<1>" LOC = AB18;
NET "lcd_data_out<2>" LOC = AB17;
NET "lcd_data_out<3>" LOC = AB12;
NET "lcd_data_out<4>" LOC = AA12;
NET "lcd_data_out<5>" LOC = Y16;
NET "lcd_data_out<6>" LOC = AB16;
NET "lcd_data_out<7>" LOC = Y15;
NET "lcd_e_out" LOC = AB4;
NET "lcd_rs_out" LOC = Y14;
NET "lcd_rw_out" LOC = W13;
NET "lcd_data_out<0>" DRIVE = 4;
NET "lcd_data_out<1>" DRIVE = 4;
NET "lcd_data_out<2>" DRIVE = 4;
NET "lcd_data_out<3>" DRIVE = 4;
NET "lcd_data_out<4>" DRIVE = 4;
NET "lcd_data_out<5>" DRIVE = 4;
NET "lcd_data_out<6>" DRIVE = 4;
NET "lcd_data_out<7>" DRIVE = 4;
NET "lcd_e_out" DRIVE = 4;
NET "lcd_rs_out" DRIVE = 4;
NET "lcd_rw_out" DRIVE = 4;
NET "lcd_data_out<0>" IOSTANDARD = "LVCMOS33";
NET "lcd_data_out<1>" IOSTANDARD = "LVCMOS33";
NET "lcd_data_out<2>" IOSTANDARD = "LVCMOS33";
NET "lcd_data_out<3>" IOSTANDARD = "LVCMOS33";
NET "lcd_data_out<4>" IOSTANDARD = "LVCMOS33";
NET "lcd_data_out<5>" IOSTANDARD = "LVCMOS33";
NET "lcd_data_out<6>" IOSTANDARD = "LVCMOS33";
NET "lcd_data_out<7>" IOSTANDARD = "LVCMOS33";
NET "lcd_e_out" IOSTANDARD = "LVCMOS33";
NET "lcd_rs_out" IOSTANDARD = "LVCMOS33";
NET "lcd_rw_out" IOSTANDARD = "LVCMOS33";
NET "lcd_data_out<0>" SLEW = QUIETIO;
NET "lcd_data_out<1>" SLEW = QUIETIO;
NET "lcd_data_out<2>" SLEW = QUIETIO;
NET "lcd_data_out<3>" SLEW = QUIETIO;
NET "lcd_data_out<4>" SLEW = QUIETIO;
NET "lcd_data_out<5>" SLEW = QUIETIO;
NET "lcd_data_out<6>" SLEW = QUIETIO;
NET "lcd_data_out<7>" SLEW = QUIETIO;
NET "lcd_e_out" SLEW = QUIETIO;
NET "lcd_rs_out" SLEW = QUIETIO;
NET "lcd_rw_out" SLEW = QUIETIO;
NET "leds_out<0>" LOC = R20;
NET "leds_out<1>" LOC = T19;
NET "leds_out<2>" LOC = U20;
NET "leds_out<3>" LOC = U19;
NET "leds_out<4>" LOC = V19;
NET "leds_out<5>" LOC = V20;
NET "leds_out<6>" LOC = Y22;
NET "leds_out<7>" LOC = W21;
NET "leds_out<0>" IOSTANDARD = "LVTTL";
NET "leds_out<1>" IOSTANDARD = "LVTTL";
NET "leds_out<2>" IOSTANDARD = "LVTTL";
NET "leds_out<3>" IOSTANDARD = "LVTTL";
NET "leds_out<4>" IOSTANDARD = "LVTTL";
NET "leds_out<5>" IOSTANDARD = "LVTTL";
NET "leds_out<6>" IOSTANDARD = "LVTTL";
NET "leds_out<7>" IOSTANDARD = "LVTTL";
NET "leds_out<0>" DRIVE = 4;
NET "leds_out<1>" DRIVE = 4;
NET "leds_out<2>" DRIVE = 4;
NET "leds_out<3>" DRIVE = 4;
NET "leds_out<4>" DRIVE = 4;
NET "leds_out<5>" DRIVE = 4;
NET "leds_out<6>" DRIVE = 4;
NET "leds_out<7>" DRIVE = 4;
NET "leds_out<0>" SLEW = QUIETIO;
NET "leds_out<1>" SLEW = QUIETIO;
NET "leds_out<2>" SLEW = QUIETIO;
NET "leds_out<3>" SLEW = QUIETIO;
NET "leds_out<4>" SLEW = QUIETIO;
NET "leds_out<5>" SLEW = QUIETIO;
NET "leds_out<6>" SLEW = QUIETIO;
NET "leds_out<7>" SLEW = QUIETIO;
NET "modo_in" LOC = V8;
NET "rot_press_in" LOC = R13;
NET "rot_in<0>" LOC = T13;
NET "rot_in<1>" LOC = R14;
NET "modo_in" IOSTANDARD = "LVTTL";
NET "pb_in<0>" IOSTANDARD = "LVTTL";
NET "pb_in<1>" IOSTANDARD = "LVTTL";
NET "pb_in<2>" IOSTANDARD = "LVTTL";
NET "pb_in<3>" IOSTANDARD = "LVTTL";
NET "rot_in<0>" IOSTANDARD = "LVTTL";
NET "rot_in<1>" IOSTANDARD = "LVTTL";
NET "rot_press_in" IOSTANDARD = "LVTTL";
NET "pb_in<0>" LOC = U15;
NET "pb_in<1>" LOC = T16;
NET "pb_in<2>" LOC = T15;
NET "pb_in<3>" LOC = T14;
NET "modo_in" PULLUP;
NET "rot_in<0>" PULLUP;
NET "rot_in<1>" PULLUP;
NET "pb_in<0>" PULLDOWN;
NET "pb_in<1>" PULLDOWN;
NET "pb_in<2>" PULLDOWN;
NET "pb_in<3>" PULLDOWN;
NET "rot_press_in" PULLDOWN;
INST "lcd_e_out" TNM = LCD_E;
INST "lcd_data_out<0>" TNM = LCD_DB;
INST "lcd_data_out<1>" TNM = LCD_DB;
INST "lcd_data_out<2>" TNM = LCD_DB;
INST "lcd_data_out<3>" TNM = LCD_DB;
INST "lcd_data_out<4>" TNM = LCD_DB;
INST "lcd_data_out<5>" TNM = LCD_DB;
INST "lcd_data_out<6>" TNM = LCD_DB;
INST "lcd_data_out<7>" TNM = LCD_DB;
INST "leds_out<0>" TNM = LEDS;
INST "leds_out<1>" TNM = LEDS;
INST "leds_out<2>" TNM = LEDS;
INST "leds_out<3>" TNM = LEDS;
INST "leds_out<4>" TNM = LEDS;
INST "leds_out<5>" TNM = LEDS;
INST "leds_out<6>" TNM = LEDS;
INST "leds_out<7>" TNM = LEDS;
INST "pb_in<0>" TNM = PB;
INST "pb_in<1>" TNM = PB;
INST "pb_in<2>" TNM = PB;
INST "pb_in<3>" TNM = PB;
INST "rot_in<0>" TNM = Rotatory;
INST "rot_in<1>" TNM = Rotatory;
INST "rot_press_in" TNM = Rotatory;
