NET "clk" LOC = E12;
NET "clk" IOSTANDARD = "LVCMOS33";
NET "leds<0>" LOC = R20;
NET "leds<1>" LOC = T19;
NET "leds<2>" LOC = U20;
NET "leds<3>" LOC = U19;
NET "leds<4>" LOC = V19;
NET "leds<5>" LOC = V20;
NET "leds<6>" LOC = Y22;
NET "leds<7>" LOC = W21;
NET "leds<0>" IOSTANDARD = "LVCMOS33";
NET "leds<1>" IOSTANDARD = "LVCMOS33";
NET "leds<2>" IOSTANDARD = "LVCMOS33";
NET "leds<3>" IOSTANDARD = "LVCMOS33";
NET "leds<4>" IOSTANDARD = "LVCMOS33";
NET "leds<5>" IOSTANDARD = "LVCMOS33";
NET "leds<6>" IOSTANDARD = "LVCMOS33";
NET "leds<7>" IOSTANDARD = "LVCMOS33";
NET "leds<0>" DRIVE = 4;
NET "leds<1>" DRIVE = 4;
NET "leds<2>" DRIVE = 4;
NET "leds<3>" DRIVE = 4;
NET "leds<4>" DRIVE = 4;
NET "leds<5>" DRIVE = 4;
NET "leds<6>" DRIVE = 4;
NET "leds<7>" DRIVE = 4;
NET "leds<0>" SLEW = QUIETIO;
NET "leds<1>" SLEW = QUIETIO;
NET "leds<2>" SLEW = QUIETIO;
NET "leds<3>" SLEW = QUIETIO;
NET "leds<4>" SLEW = QUIETIO;
NET "leds<5>" SLEW = QUIETIO;
NET "leds<6>" SLEW = QUIETIO;
NET "leds<7>" SLEW = QUIETIO;
NET "reset" LOC = T15;
NET "reset" IOSTANDARD = "LVTTL";
NET "reset" PULLDOWN;
NET "tx" LOC = F15;
NET "tx" IOSTANDARD = "LVTTL";
NET "tx" SLEW = SLOW;
NET "tx" DRIVE = 4;
NET "ps2c" IOSTANDARD = "LVTTL";
NET "ps2d" IOSTANDARD = "LVTTL";
NET "ps2c" LOC = W12;
NET "ps2d" LOC = V11;
